/*
  DDR Finder Base Theme: inspired by DDR (2013) White Cabinet color scheme; updated to use Material Palette
  https://material.io/color/#!/?view.left=0&view.right=0&primary.color=1976D2&secondary.color=9C27B0
*/

:root {
  --primary-color: #1976d2; /* Material Blue 700 */
  --primary-color-light: #63a4ff;
  --primary-color-dark: #004ba0;

  --secondary-color: #9c27b0; /* Material Purple 500 */
  --secondary-color-light: #d05ce3;
  --secondary-color-dark: #6a0080;

  /* variables for iOS components */
  --background-color: #f9f9f9;
  --text-color: #1f1f21;
  --sub-text-color: #999;
  --highlight-color: var(--secondary-color);
  --second-highlight-color: var(--secondary-color);
  --border-color: #ccc;
  --button-background-color: var(--highlight-color);
  --button-cta-background-color: var(--second-highlight-color);
  --toolbar-background-color: var(--primary-color);
  --toolbar-button-color: #ffffff;
  --toolbar-text-color: #ffffff;
  --toolbar-border-color: var(--primary-color-dark);
  --button-bar-color: var(--highlight-color);
  --button-bar-active-text-color: #fff;
  --button-bar-active-background-color: color(var(--button-bar-color) tint(70%));
  --button-light-color: black;
  --segment-color: var(--highlight-color);
  --segment-active-text-color: #fff;
  --segment-active-background-color: color(var(--segment-color) tint(70%));
  --list-background-color: #fff;
  --list-header-background-color: #eee;
  --list-tap-active-background-color: #d9d9d9;
  --list-item-chevron-color: #c7c7cc;
  --progress-bar-color: var(--highlight-color);
  --progress-bar-secondary-color: #65adff;
  --progress-bar-background-color: transparent;
  --progress-circle-primary-color: var(--highlight-color);
  --progress-circle-secondary-color: #65adff;
  --progress-circle-background-color: transparent;
  --tabbar-background-color: #fafafa;
  --tabbar-text-color: #999;
  --tabbar-highlight-text-color: var(--highlight-color);
  --tabbar-border-color: #ccc;
  --switch-highlight-color: var(--secondary-color);
  --switch-border-color: #e5e5e5;
  --switch-background-color: white;
  --range-track-background-color: #a4aab3;
  --range-track-background-color-active: var(--highlight-color);
  --range-thumb-background-color: #fff;
  --modal-background-color: rgba(0, 0, 0, 0.7);
  --modal-text-color: #fff;
  --alert-dialog-background-color: #f4f4f4;
  --alert-dialog-text-color: #1f1f21;
  --alert-dialog-button-color: var(--secondary-color);
  --alert-dialog-separator-color: #ddd;
  --dialog-background-color: #f4f4f4;
  --dialog-text-color: var(--text-color);
  --popover-background-color: white;
  --popover-text-color: #1f1f21;
  --notification-background-color: var(--secondary-color);
  --notification-color: white;
  --fab-text-color: #ffffff;
  --fab-background-color: var(--secondary-color);
  --fab-active-background-color: var(--secondary-color-dark);
  --card-background-color: white;
  --card-text-color: #030303;
  --toast-background-color: rgba(0, 0, 0, 0.8);
  --toast-text-color: white;
  --toast-button-text-color: white;
  --select-input-color: var(--text-color);
  --select-input-border-color: var(--input-border-color);

  /* variables for Material Design components */
  --material-background-color: #ffffff;
  --material-text-color: var(--text-color);
  --material-notification-background-color: var(--secondary-color);
  --material-notification-color: white;
  --material-switch-active-thumb-color: var(--secondary-color);
  --material-switch-inactive-thumb-color: #f1f1f1;
  --material-switch-active-background-color: var(--secondary-color-dark);
  --material-switch-inactive-background-color: #b0afaf;
  --material-range-track-color: #e0e0e0;
  --material-range-thumb-color: var(--secondary-color);
  --material-range-disabled-thumb-color: #b0b0b0;
  --material-range-disabled-thumb-border-color: #eeeeee;
  --material-range-zero-thumb-color: #f2f2f2;
  --material-toolbar-background-color: var(--primary-color);
  --material-toolbar-text-color: #ffffff;
  --material-toolbar-button-color: #ffffff;
  --material-segment-background-color: #fafafa;
  --material-segment-active-background-color: #c8c8c8;
  --material-segment-text-color: color(black a(38%));
  --material-segment-active-text-color: #353535;
  --material-button-background-color: var(--secondary-color);
  --material-button-text-color: #ffffff;
  --material-button-disabled-background-color: color(#4f4f4f a(26%));
  --material-button-disabled-color: color(black a(26%));
  --material-flat-button-active-background-color: color(#999 a(20%));
  --material-list-background-color: #fff;
  --material-list-item-separator-color: #eee;
  --material-list-header-text-color: #757575;
  --material-checkbox-active-color: var(--secondary-color);
  --material-checkbox-inactive-color: #717171;
  --material-checkbox-checkmark-color: #ffffff;
  --material-radio-button-active-color: var(--secondary-color);
  --material-radio-button-inactive-color: #717171;
  --material-radio-button-disabled-color: #afafaf;
  --material-text-input-text-color: #212121;
  --material-text-input-active-color: var(--secondary-color);
  --material-text-input-inactive-color: #afafaf;
  --material-search-background-color: #fafafa;
  --material-dialog-background-color: #ffffff;
  --material-dialog-text-color: var(--material-text-color);
  --material-alert-dialog-background-color: #ffffff;
  --material-alert-dialog-title-color: #212121;
  --material-alert-dialog-content-color: #727272;
  --material-alert-dialog-button-color: var(--secondary-color);
  --material-progress-bar-primary-color: var(--secondary-color);
  --material-progress-bar-secondary-color: var(--secondary-color-dark);
  --material-progress-bar-background-color: #e0e0e0;
  --material-progress-circle-primary-color: var(--secondary-color);
  --material-progress-circle-secondary-color: var(--secondary-color-dark);
  --material-progress-circle-background-color: #dbdbdb;
  --material-tabbar-background-color: var(--primary-color);
  --material-tabbar-text-color: rgba(255, 255, 255, 0.6);
  --material-tabbar-highlight-text-color: #ffffff;
  --material-tabbar-highlight-color: var(--primary-color-dark);
  --material-fab-text-color: #ffffff;
  --material-fab-background-color: var(--secondary-color);
  --material-fab-active-background-color: var(--secondary-color-dark);
  --material-card-background-color: white;
  --material-card-text-color: rgba(0, 0, 0, 0.54);
  --material-toast-background-color: rgba(0, 0, 0, 0.8);
  --material-toast-text-color: white;
  --material-toast-button-text-color: #bbdefb;
  --material-select-input-color: var(--material-text-color);
  --material-select-input-active-color: rgba(0, 0, 0, 0.15);
  --material-select-input-inactive-color: rgba(0, 0, 0, 0.81);
  --material-select-border-color: color(black a(12%));
  --material-popover-background-color: #fafafa;
  --material-popover-text-color: var(--material-text-color);
}
