---
import {
  IconLoader2,
  IconCurrentLocation,
  IconMap2,
  IconX,
  IconReload,
  IconCheck,
  IconArrowBackUp,
  IconNavigationFilled,
  IconBrandGoogleMaps,
  IconExternalLink,
} from "@tabler/icons-preact";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>DDR Finder</title>
    <!-- ddr-finder-ng | https://github.com/Andrew67/ddr-finder-ng/blob/master/LICENSE -->
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="light dark" />
    <meta name="theme-color" content="#1976d2" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta
      property="og:title"
      content="DDR Finder - Crowd-sourced Arcade Locations"
    />
    <meta
      property="og:description"
      content="Find video game arcades near you!"
    />
    <meta
      property="og:image"
      content="https://ddrfinder.andrew67.com/images/arcade-machine.jpg"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer></script>
    <script is:inline src="/js/locator.js" defer></script>

    <style>
      .message-hidden,
      .arcade-list-item:first-child {
        @apply hidden;
      }

      h2 {
        @apply text-2xl;
      }

      .has-ddr-unavailable-disclaimer {
        @apply hidden;
      }
      .has-ddr-unavailable .has-ddr-unavailable-disclaimer {
        @apply block;
      }

      .collapse-title::after {
        @apply print:hidden;
      }
    </style>
    <style is:global>
      #current-location-img {
        border: 1px solid;
      }
    </style>
  </head>
  <body class="p-4">
    <h1 class="text-5xl mb-4">DDR Finder</h1>
    <!-- Templates for all success/error messages -->
    <!-- ERROR: JavaScript not supported -->
    <noscript>
      <div id="message-noscript">
        <h2>JavaScript Error</h2>
        <p>Could not start location process; make sure JavaScript is enabled</p>
      </div>
    </noscript>
    <!-- PROGRESS: Loading scripts -->
    <div id="message-loading">
      <h2>Loading...</h2>
      <p>
        <IconLoader2 size="64" class="animate-spin" aria-hidden="true" />
        <br />
        <a href="/" class="btn btn-error">
          <IconX aria-hidden="true" /> Cancel
        </a>
      </p>
    </div>
    <!-- SETUP: Select data source and require user interaction before requesting location -->
    <div id="message-setup" class="message-hidden">
      <h2 class="text-3xl mb-2">Locate Nearby Arcades</h2>
      <p class="mb-4">
        <label class="form-control w-full max-w-xs">
          <span class="label">
            <span class="label-text">Source</span>
          </span>
          <select class="select select-primary" id="source-select">
            <optgroup label="Recommended">
              <option value="ziv">Zenius -I- vanisher.com (Worldwide)</option>
              <option value="navi">DDR-Navi (Japan)</option>
            </optgroup>
            <optgroup label="Other">
              <option value="osm">OpenStreetMap (Worldwide)</option>
            </optgroup>
          </select>
        </label>
      </p>
      <nav>
        <ul class="flex flex-wrap gap-2">
          <li>
            <button id="start-geolocation" class="btn btn-secondary">
              <IconCurrentLocation aria-hidden="true" /> Find My Location
            </button>
          </li>
          <li>
            <a href="/" class="btn btn-error">
              <IconX aria-hidden="true" /> Cancel
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- ERROR: HTML5 Geolocation API not supported -->
    <div id="message-nogeo" class="message-hidden">
      <h2>No Geolocation Support</h2>
      <p>Your web browser does not support the HTML5 Geolocation API!</p>
      <p>
        <a
          href="https://zenius-i-vanisher.com/"
          class="btn btn-primary"
          target="_blank"
        >
          <IconExternalLink aria-hidden="true" /> Go to Zenius -I- vanisher.com Arcade
          Locations
        </a>
        <a
          href="https://www.ddr-navi.jp/"
          class="btn btn-primary"
          target="_blank"
        >
          <IconExternalLink aria-hidden="true" /> Go to DDR-Navi
        </a>
      </p>
    </div>
    <!-- PROGRESS: Waiting for location -->
    <div id="message-waiting" class="message-hidden">
      <h2>Waiting for location...</h2>
      <p>
        <IconLoader2 size="64" class="animate-spin" aria-hidden="true" />
        <br />
        <a href="/" class="btn btn-error">
          <IconX aria-hidden="true" /> Cancel
        </a>
      </p>
    </div>
    <!-- ERROR: Location data denied -->
    <div id="message-denied" class="message-hidden">
      <h2>Could not locate: Permission Error</h2>
      <p>Reload this page and make sure to allow location detection!</p>
      <p>
        <button class="bg-green-800 text-white retry-button">
          <IconReload aria-hidden="true" /> Reload
        </button>
      </p>
    </div>
    <!-- ERROR: Location data unavailable -->
    <div id="message-failed" class="message-hidden">
      <h2>Could not locate: Position Unavailable</h2>
      <p>Unable to locate your current position</p>
      <p>
        <button class="bg-green-800 text-white retry-button">
          <IconReload aria-hidden="true" /> Retry
        </button><br />
        <a
          href="https://zenius-i-vanisher.com/"
          class="btn btn-primary"
          target="_blank"
        >
          <IconExternalLink aria-hidden="true" /> Go to Zenius -I- vanisher.com Arcade
          Locations
        </a>
        <a
          href="https://www.ddr-navi.jp/"
          class="btn btn-primary"
          target="_blank"
        >
          <IconExternalLink aria-hidden="true" /> Go to DDR-Navi
        </a>
      </p>
    </div>
    <!-- PROGRESS: Loading arcade location data -->
    <div id="message-found-searching" class="message-hidden">
      <h2>Found you! Locating arcades...</h2>
      <p>
        <IconLoader2 size="64" class="animate-spin" aria-hidden="true" />
        <br />
        <a href="/" class="btn btn-error">
          <IconX aria-hidden="true" /> Cancel
        </a>
      </p>
    </div>
    <!-- ERROR: API error -->
    <div id="message-api-failed" class="message-hidden">
      <h2>Error loading arcade data</h2>
      <p>
        Temporary error while attempting to load or process data from the
        database
      </p>
      <p>
        <button class="bg-green-800 text-white retry-button">
          <IconReload aria-hidden="true" /> Retry
        </button><br />
        <a
          href="https://zenius-i-vanisher.com/"
          class="btn btn-primary"
          target="_blank"
        >
          <IconExternalLink aria-hidden="true" /> Go to Zenius -I- vanisher.com Arcade
          Locations
        </a>
        <a
          href="https://www.ddr-navi.jp/"
          class="btn btn-primary"
          target="_blank"
        >
          <IconExternalLink aria-hidden="true" /> Go to DDR-Navi
        </a>
      </p>
    </div>
    <!-- Final results screen -->
    <div id="message-arcade-list" class="message-hidden">
      <h2>Your Location:</h2>
      <div class="inline-block" id="current-location-img">Current Location</div>
      <nav class="my-1 print:hidden">
        <ul class="flex flex-wrap gap-2">
          <li>
            <a href="#" class="btn btn-secondary">
              <IconArrowBackUp aria-hidden="true" /> New Search
            </a>
          </li>
          <li>
            <a id="current-location-link" class="btn btn-accent" href="/ng/">
              <IconMap2 aria-hidden="true" /> Interactive Map
            </a>
          </li>
        </ul>
      </nav>
      <p class="mb-1" id="current-location-accuracy">
        Accurate to approximately
        <span id="current-location-accuracy-value">??? meters</span>.
      </p>
      <p class="has-ddr-unavailable-disclaimer">
        Game data not available on this site for this source. Use the "Info"
        button to confirm game listings on the original site (if available).
      </p>
      <div id="arcade-list-container" class="mt-4">
        <h2>Located Arcades:</h2>
        <p>
          &copy; <a
            href="/"
            id="source-website-url"
            target="_blank"
            class="link link-info"></a> Contributors
        </p>
        <ul class="mt-2" id="arcade-list">
          <!-- Arcade location template -->
          <li
            class="arcade-list-item collapse collapse-plus bg-base-200 mb-2 print:collapse-open print:border print:rounded"
          >
            <input type="radio" name="arcade-accordion" checked="checked" />
            <div
              class="arcade-name collapse-title text-lg sm:text-xl font-medium"
            >
              Name
            </div>
            <div class="collapse-content">
              <p class="arcade-city font-medium sm:text-lg sm:font-normal">
                City
              </p>
              <p>
                Approximately <span class="arcade-distance font-semibold"
                  >???</span
                > km away
              </p>
              <p class="arcade-has-ddr flex gap-1 items-center">
                <span class="font-semibold">DDR available:</span>
                <IconCheck
                  class="arcade-has-ddr-yes inline-block text-success"
                  aria-hidden="true"
                />
                <IconX
                  class="arcade-has-ddr-no inline-block text-error"
                  aria-hidden="true"
                />
                <span class="arcade-has-ddr-text">???</span>
              </p>
              <p>
                <span class="font-semibold">GPS Coordinates:</span>
                <span class="inline-block">
                  <span class="arcade-latitude">???</span>°, <span
                    class="arcade-longitude">???</span
                  >°
                </span>
              </p>
              <div
                class="arcade-action-buttons flex flex-wrap gap-2 my-2 print:hidden"
              >
                <a class="arcade-nav btn btn-secondary" href="#">
                  <IconNavigationFilled aria-hidden="true" /> Navigate
                </a>
                <a class="arcade-gmaps btn btn-accent" target="_blank">
                  <IconBrandGoogleMaps aria-hidden="true" /> Show in Google Maps
                </a>
                <a class="arcade-info btn btn-primary" target="_blank">
                  <IconExternalLink aria-hidden="true" /> Info on <span
                    class="arcade-info-name">???</span
                  >
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- No arcades found -->
      <div id="arcade-noresults-container" class="message-hidden">
        <h2>No nearby arcades found</h2>
        <p>
          Sorry! Try going back and selecting a different source database or
          check out the full websites.
        </p>
        <p>
          <button class="bg-green-800 text-white retry-button">
            <IconReload aria-hidden="true" /> Retry
          </button><br />
          <a
            href="https://zenius-i-vanisher.com/"
            class="btn btn-primary"
            target="_blank"
          >
            <IconExternalLink aria-hidden="true" /> Go to Zenius -I- vanisher.com
          </a><br />
          <a
            href="https://www.ddr-navi.jp/"
            class="btn btn-primary"
            target="_blank"
          >
            <IconExternalLink aria-hidden="true" /> Go to DDR-Navi
          </a>
        </p>
      </div>
    </div>

    <footer class="mt-6">
      <p class="mb-2">
        &copy; 2012&ndash;2024 <a
          href="https://andrew67.com/"
          target="_blank"
          class="link link-info"
        >
          Andrés Cordero
        </a>
      </p>
      <p class="text-sm">
        No warranty is made regarding operation, and no accuracy or freshness of
        results is guaranteed.<br />
        Arrow icon from the <a
          href="https://www.stepmania.com/"
          target="_blank"
          class="link link-info">StepMania 5</a
        > default noteskin.<br />
      </p>
    </footer>
  </body>
</html>
