---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- ddr-finder-ng | https://github.com/Andrew67/ddr-finder-ng -->
    <title>DDR Finder</title>
    <!-- Web Application metadata -->
    <link rel="manifest" href="/ng/manifest.json" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta name="theme-color" content="#1976d2" />
    <!-- iOS-specific tags -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta
      name="apple-mobile-web-app-capable"
      content="yes"
    /><!-- required for splash screens -->
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    /><!-- black-translucent = page goes under status bar -->
    <!-- OpenGraph metadata -->
    <meta
      property="og:title"
      content="DDR Finder - Crowd-sourced Arcade Locations"
    />
    <meta
      property="og:description"
      content="Find video game arcades near you!"
    />
    <meta
      property="og:image"
      content="https://ddrfinder.andrew67.com/img/arcade-machine.jpg"
    />
    <!-- Onsen UI Core w/ Ionicons -->
    <link rel="stylesheet" href="/lib/onsen/css/onsenui-core.min.css" />
    <link
      rel="stylesheet"
      href="/lib/onsen/css/onsen-css-components-custom.css"
    />
    <link
      rel="stylesheet"
      media="screen and (prefers-color-scheme: dark)"
      href="/lib/onsen/css/dark-onsen-css-components.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.6.3/css/ionicons.min.css"
      integrity="sha512-mGvZ6LaIZkUhHXDv0H3bqK1Y5bgTIqHP7jr+9HBNAPE8cGUMX0biP122ZfSQryAOUZXeFNg9Xcckz/xi59up7g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.11.2/js/onsenui.min.js"
      integrity="sha512-8LTza/N9yBaiBWwN16SL/2A0ERRXrZkBYEof+g3ui4KaAm9TIg/tDad5aLfI+wiGxrnznX4cV1CRZAgsg5l1+w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <!-- Mapbox GL JS -->
    <script
      is:inline
      src="https://api.mapbox.com/mapbox-gl-js/v3.9.2/mapbox-gl.js"
      integrity="sha512-mI9iFH87L0S6hIl648nnXjfV9jOISgV9BGeo3qP+AnBkhGvejZ+KkGJNcHqofD7rqFLzYJhfZoD99FcvL6kcFg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/v3.9.2/mapbox-gl.css"
      integrity="sha512-+W+PNtw6h9It/dGnnIz41cEo6aQ369pEU6W/5utZ51PZGt+LYCt+vaeYn2ZSvc/GLxZ5K5zvKzr8ayM52MAShw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Mapbox GL Geocoder -->
    <script
      is:inline
      src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.3/mapbox-gl-geocoder.min.js"
      integrity="sha512-Yb0hnqAo9cc8b9gfp6w7D+2hDSCJ9u3R6J0nXrzujXWPHpaYnZN3viJpCoOHAo1s7ptq22xggPHDLXCRm/ja8w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.3/mapbox-gl-geocoder.css"
      integrity="sha512-q4tUTr+1WMlXl24kBXZNEOKYVN6XaSkWYtnahG0qsGq+9ZJdavRK8T9EYP8B5HenuAHB0feOzicXPNz0Rkiw4A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- mine -->
    <style is:global>
      ons-template {
        display: none;
      }
      .is-embed .hide-embed {
        display: none;
      }
      .is-embed .toolbar.hide-embed + .page__background + .page__content {
        top: 0 !important;
      }
    </style>
    <link rel="stylesheet" href="/css/my.css" />
    <script is:inline src="/js/my.js"></script>
  </head>
  <body id="ddrfinder">
    <ons-navigator id="myNavigator" page="mapview.html">
      <noscript
        ><p>Please enable JavaScript in order to use this site.</p></noscript
      >
    </ons-navigator>
    <ons-template id="mapview.html">
      <ons-page id="mapview">
        <ons-toolbar class="hide-embed">
          <div class="left" aria-label="Back">
            <ons-toolbar-button aria-hidden="true" id="mapview-back">
              <ons-icon icon="ion-ios-arrow-back, material:ion-md-arrow-back"
              ></ons-icon>
            </ons-toolbar-button>
          </div>
          <div class="center">DDR Finder</div>
          <div class="right" id="mapview-toolbar-buttons"></div>
        </ons-toolbar>
        <ons-progress-bar indeterminate id="progress-bar"></ons-progress-bar>
        <div id="map"></div>
        <ons-toast id="navigation-app-toast">
          Issues launching navigation?
          <button id="navigation-app-toast-button">Switch to Apple Maps</button>
        </ons-toast>
      </ons-page>
    </ons-template>

    <ons-template id="settings.html">
      <ons-page id="settings">
        <ons-toolbar>
          <div class="left">
            <ons-back-button>Map</ons-back-button>
          </div>
          <div class="center">Settings</div>
        </ons-toolbar>

        <ons-list>
          <ons-list-header>Map</ons-list-header>
          <ons-list-item tappable id="settings-filter-ddr-only">
            <div class="center">
              <span class="list-item__title">Filter</span>
              <span class="list-item__subtitle"
                >Only show arcades that have DDR</span
              >
            </div>
            <div class="right">
              <ons-switch id="settings-filter-ddr-only-switch"></ons-switch>
            </div>
          </ons-list-item>
          <ons-list-item tappable id="settings-datasource">
            <span class="list-item__title">Data Source</span>
            <span class="list-item__subtitle">---</span>
          </ons-list-item>
          <ons-list-item tappable id="settings-ios-navigation">
            <span class="list-item__title">Navigation</span>
            <span class="list-item__subtitle">---</span>
          </ons-list-item>

          <ons-list-header>Help</ons-list-header>
          <ons-list-item tappable modifier="chevron" id="about-button">
            <span class="list-item__title">About</span>
          </ons-list-item>
          <ons-list-item id="settings-ios-install">
            <span class="list-item__title">Install</span>
            <div class="list-item__subtitle">
              <ol class="list-decimal">
                <li>
                  Open in Safari <ons-icon icon="ion-ios-compass"></ons-icon>
                </li>
                <li>Tap Share <ons-icon icon="ion-ios-share"></ons-icon></li>
                <li>
                  Swipe up, then tap Add to Home Screen <ons-icon
                    icon="ion-ios-add-circle"></ons-icon>
                </li>
              </ol>
            </div>
          </ons-list-item>
        </ons-list>
        <ons-alert-dialog id="settings-datasource-dialog" cancelable>
          <div class="alert-dialog-title">Data Source</div>
          <div class="alert-dialog-content">
            <ons-list>
              <ons-list-item tappable>
                <label class="left">
                  <ons-radio
                    name="datasource"
                    input-id="settings-datasource-ziv"></ons-radio>
                </label>
                <label for="settings-datasource-ziv" class="center">
                  Zenius -I- vanisher.com (Worldwide)
                </label>
              </ons-list-item>
              <ons-list-item tappable>
                <label class="left">
                  <ons-radio
                    name="datasource"
                    input-id="settings-datasource-navi"></ons-radio>
                </label>
                <label for="settings-datasource-navi" class="center">
                  DDR-Navi (Japan)
                </label>
              </ons-list-item>
              <ons-list-item tappable>
                <label class="left">
                  <ons-radio
                    name="datasource"
                    input-id="settings-datasource-osm"></ons-radio>
                </label>
                <label for="settings-datasource-osm" class="center">
                  OpenStreetMap (Worldwide)
                </label>
              </ons-list-item>
            </ons-list>
          </div>
          <div class="alert-dialog-footer">
            <button id="settings-datasource-cancel" class="alert-dialog-button"
              >Cancel</button
            >
          </div>
        </ons-alert-dialog>
        <!-- TODO: With the amount of choices, it should be a sub-page -->
        <ons-alert-dialog id="settings-ios-navigation-dialog" cancelable>
          <div class="alert-dialog-title">Navigation</div>
          <div class="alert-dialog-content">
            <ons-list>
              <ons-list-item tappable>
                <label class="left">
                  <ons-radio
                    name="ios-navigation"
                    input-id="settings-ios-navigation-apple"></ons-radio>
                </label>
                <label for="settings-ios-navigation-apple" class="center">
                  Apple Maps
                </label>
              </ons-list-item>
              <ons-list-item tappable>
                <label class="left">
                  <ons-radio
                    name="ios-navigation"
                    input-id="settings-ios-navigation-google"></ons-radio>
                </label>
                <label for="settings-ios-navigation-google" class="center">
                  Google Maps
                </label>
              </ons-list-item>
              <ons-list-item tappable>
                <label class="left">
                  <ons-radio
                    name="ios-navigation"
                    input-id="settings-ios-navigation-waze"></ons-radio>
                </label>
                <label for="settings-ios-navigation-waze" class="center">
                  Waze
                </label>
              </ons-list-item>
              <ons-list-item tappable>
                <label class="left">
                  <ons-radio
                    name="ios-navigation"
                    input-id="settings-ios-navigation-sygic"></ons-radio>
                </label>
                <label for="settings-ios-navigation-sygic" class="center">
                  Sygic
                </label>
              </ons-list-item>
              <ons-list-item tappable>
                <label class="left">
                  <ons-radio
                    name="ios-navigation"
                    input-id="settings-ios-navigation-here"></ons-radio>
                </label>
                <label for="settings-ios-navigation-here" class="center">
                  HERE WeGo
                </label>
              </ons-list-item>
              <ons-list-item tappable>
                <label class="left">
                  <ons-radio
                    name="ios-navigation"
                    input-id="settings-ios-navigation-kakaomap"></ons-radio>
                </label>
                <label for="settings-ios-navigation-kakaomap" class="center">
                  KakaoMap
                </label>
              </ons-list-item>
              <ons-list-item tappable>
                <label class="left">
                  <ons-radio
                    name="ios-navigation"
                    input-id="settings-ios-navigation-navermap"></ons-radio>
                </label>
                <label for="settings-ios-navigation-navermap" class="center">
                  Naver Map
                </label>
              </ons-list-item>
              <ons-list-item tappable>
                <label class="left">
                  <ons-radio
                    name="ios-navigation"
                    input-id="settings-ios-navigation-mapsme"></ons-radio>
                </label>
                <label for="settings-ios-navigation-mapsme" class="center">
                  maps.me
                </label>
              </ons-list-item>
              <ons-list-item tappable>
                <label class="left">
                  <ons-radio
                    name="ios-navigation"
                    input-id="settings-ios-navigation-magicearth"></ons-radio>
                </label>
                <label for="settings-ios-navigation-magicearth" class="center">
                  Magic Earth
                </label>
              </ons-list-item>
              <ons-list-item tappable>
                <label class="left">
                  <ons-radio
                    name="ios-navigation"
                    input-id="settings-ios-navigation-baidu"></ons-radio>
                </label>
                <label for="settings-ios-navigation-baidu" class="center">
                  百度地图
                </label>
              </ons-list-item>
              <ons-list-item tappable>
                <label class="left">
                  <ons-radio
                    name="ios-navigation"
                    input-id="settings-ios-navigation-gaode"></ons-radio>
                </label>
                <label for="settings-ios-navigation-gaode" class="center">
                  高德地图
                </label>
              </ons-list-item>
            </ons-list>
          </div>
          <div class="alert-dialog-footer">
            <button
              id="settings-ios-navigation-cancel"
              class="alert-dialog-button">Cancel</button
            >
          </div>
        </ons-alert-dialog>
      </ons-page>
    </ons-template>

    <ons-template id="about.html">
      <ons-page id="about">
        <ons-toolbar>
          <div class="left">
            <ons-back-button>Settings</ons-back-button>
          </div>
          <div class="center">About</div>
        </ons-toolbar>

        <ons-list>
          <ons-list-header>Application</ons-list-header>
          <ons-list-item id="app-logo">
            <span class="list-item__title flex flex-col items-center">
              <img
                src="/img/icon-192.png"
                width="96"
                height="96"
                alt=""
                loading="lazy"
              />
              DDR Finder
            </span>
            <span class="list-item__subtitle">
              &copy;2016&ndash;2025 Andrés Cordero
            </span>
          </ons-list-item>
          <ons-list-item
            tappable
            modifier="chevron"
            data-href="https://github.com/Andrew67/ddr-finder-ng"
          >
            <span class="list-item__title">Project Site on GitHub</span>
          </ons-list-item>

          <ons-list-header>Data Sources</ons-list-header>
          <ons-list-item
            tappable
            modifier="chevron"
            data-href="https://zenius-i-vanisher.com/"
          >
            <span class="list-item__title">Zenius -I- vanisher.com</span>
            <span class="list-item__subtitle">Worldwide Music Gaming Site</span>
          </ons-list-item>
          <ons-list-item
            tappable
            modifier="chevron"
            data-href="https://ddr-navi.jp/"
          >
            <span class="list-item__title">DDR-Navi</span>
            <span class="list-item__subtitle"
              >Japanese Arcade Location Map Site</span
            >
          </ons-list-item>
          <ons-list-item
            tappable
            modifier="chevron"
            data-href="https://www.openstreetmap.org/about"
          >
            <span class="list-item__title">OpenStreetMap</span>
            <span class="list-item__subtitle"
              >Community-powered Open Map Data</span
            >
          </ons-list-item>

          <ons-list-header>Icons</ons-list-header>
          <ons-list-item
            tappable
            modifier="chevron"
            data-href="https://thenounproject.com/icon/25579/"
          >
            "Map Marker" icon by meghan hade from the Noun Project.
          </ons-list-item>
          <ons-list-item
            tappable
            modifier="chevron"
            data-href="https://tabler.io/icons/icon/arrow-big-right-line"
          >
            "Arrow Big Right Line" icon by Tabler Icons.
          </ons-list-item>

          <ons-list-header>Open Source Libraries</ons-list-header>
          <ons-list-item
            tappable
            modifier="chevron"
            data-href="https://onsen.io/"
          >
            <span class="list-item__title">Onsen UI</span>
            <span class="list-item__subtitle">v2.11.2</span>
          </ons-list-item>
          <ons-list-item
            tappable
            modifier="chevron"
            data-href="https://ionicons.com/"
          >
            <span class="list-item__title">Ionicons</span>
            <span class="list-item__subtitle">v4.6.3</span>
          </ons-list-item>
          <ons-list-item
            tappable
            modifier="chevron"
            data-href="https://docs.mapbox.com/mapbox-gl-js/"
          >
            <span class="list-item__title">Mapbox GL JS</span>
            <span class="list-item__subtitle">v3.9.2</span>
          </ons-list-item>
          <ons-list-item
            tappable
            modifier="chevron"
            data-href="https://github.com/mapbox/mapbox-gl-geocoder/"
          >
            <span class="list-item__title">Mapbox GL Geocoder</span>
            <span class="list-item__subtitle">v5.0.3</span>
          </ons-list-item>
        </ons-list>
      </ons-page>
    </ons-template>
    <script is:inline>
      if (location.search.includes("embed=true")) {
        document.body.classList.add("is-embed");
      }
    </script>
  </body>
</html>
