---
import { App } from "../../components/App";
import { pages } from "../../components/pages";
import { IconLocationSearch, IconMap2, IconMenu2 } from "@tabler/icons-preact";

export function getStaticPaths() {
  return pages.map((p) => {
    const { page, ...props } = p;
    return {
      params: { page },
      props,
    };
  });
}

const { title, description } = Astro.props;
const linkClasses = (page: string) =>
  page === Astro.params.page ? "active bg-base-200" : "";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <!-- ddr-finder-ng | https://github.com/Andrew67/ddr-finder-ng/blob/master/LICENSE -->
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="light dark" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#bfdbfe"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#334155"
    />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/ddrfinder.webmanifest" />
    <meta
      property="og:image"
      content="https://ddrfinder.andrew67.com/img/arcade-machine.jpg"
    />
  </head>
  <body>
    <div class="navbar bg-base-300 fixed top-0">
      <h1 class="btn btn-ghost text-xl">DDR Finder</h1>
    </div>
    <div class="my-16">
      <App client:only="preact" />
    </div>
    <nav class="btm-nav bg-base-300">
      <a href="/app/nearby/" class={linkClasses("nearby")}>
        <IconLocationSearch aria-hidden="true" />
        <span class="btm-nav-label">Nearby</span>
      </a>
      <a href="/app/explore/" class={linkClasses("explore")}>
        <IconMap2 aria-hidden="true" />
        <span class="btm-nav-label">Explore</span>
      </a>
      <a href="/app/menu/" class={linkClasses("menu")}>
        <IconMenu2 aria-hidden="true" />
        <span class="btm-nav-label">Menu</span>
      </a>
    </nav>
  </body>
</html>
