---
import { App } from "../../components/App";
import { IconLocationSearch, IconMap2, IconMenu2 } from "@tabler/icons-preact";
export function getStaticPaths() {
  // TODO: Expose these to client-side to update page title after SPA navigation
  const pages = [
    {
      page: undefined,
      title: "DDR Finder",
      text: "",
    },
    {
      page: "nearby",
      title: "DDR Finder — Nearby Arcades",
      text: "",
    },
    {
      page: "explore",
      title: "DDR Finder — Interactive Map",
      text: "",
    },
    {
      page: "menu",
      title: "DDR Finder — Menu",
      text: "",
    },
  ];
  return pages.map(({ page, title, text }) => {
    return {
      params: { page },
      props: { title, text },
    };
  });
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <!-- ddr-finder-ng | https://github.com/Andrew67/ddr-finder-ng/blob/master/LICENSE -->
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="light dark" />
    <meta name="theme-color" content="#1976d2" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/ddrfinder.webmanifest" />
    <meta
      property="og:title"
      content="DDR Finder - Crowd-sourced Arcade Locations"
    />
    <meta
      property="og:description"
      content="Find video game arcades near you!"
    />
    <meta
      property="og:image"
      content="https://ddrfinder.andrew67.com/img/arcade-machine.jpg"
    />
  </head>
  <body>
    <div class="navbar bg-base-300 fixed top-0">
      <h1 class="btn btn-ghost text-xl">DDR Finder</h1>
    </div>
    <div class="my-16">
      <App client:only="preact" />
    </div>
    <nav class="btm-nav bg-base-300">
      <!-- TODO: Set "active bg-base-200" classes -->
      <a href="/app/nearby/">
        <IconLocationSearch aria-hidden="true" />
        <span class="btm-nav-label">Nearby</span>
      </a>
      <a href="/app/explore/">
        <IconMap2 aria-hidden="true" />
        <span class="btm-nav-label">Explore</span>
      </a>
      <a href="/app/menu/">
        <IconMenu2 aria-hidden="true" />
        <span class="btm-nav-label">Menu</span>
      </a>
    </nav>
  </body>
</html>
