---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>DDR Finder — Interactive Map</title>
    <meta
      name="description"
      content="Explore crowd-sourced video game arcades worldwide"
    />
    <!-- ddr-finder-ng | https://github.com/Andrew67/ddr-finder-ng/blob/master/LICENSE -->
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="light dark" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#bfdbfe"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#334155"
    />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta
      property="og:image"
      content="https://ddrfinder.andrew67.com/images/arcade-machine.jpg"
    />
    <!-- Backup redirect if JS doesn't run -->
    <!-- See: https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/Redirections#order_of_precedence -->
    <meta http-equiv="refresh" content="0; url=/app/explore" />
  </head>
  <body>
    <script is:inline>
      let latitude, longitude, zoom;

      const locPattern = /@(.*),(.*),(.*)z/;
      if (locPattern.test(location.href)) {
        const locParams = locPattern.exec(location.href);
        latitude = locParams[1];
        longitude = locParams[2];
        zoom = locParams[3];
      }

      const newParams = new URLSearchParams(location.search);
      if (latitude && longitude)
        newParams.set("ll", `${latitude},${longitude}`);
      if (zoom) newParams.set("z", zoom);
      const newParamString = newParams.toString().replace("%2C", ",");

      window.location.replace(
        `/app/explore${newParamString ? `?${newParamString}` : ""}`,
      );
    </script>
    <a href="/app/explore">Click here for the new app experience</a>
  </body>
</html>
